<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Ajouter formation</h4>
              <p class="card-category">Les champs * sont obligatoires</p>
            </div>
            <div class="card-body">
              <form [formGroup]="angForm" (ngSubmit)="postdata(angForm.value)" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        type="text"
                        name="title"
                        formControlName="title"
                        autocomplete="off"
                        placeholder="title de formation"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          name="type"
                          formControlName="type"
                          autocomplete="off"
                          placeholder="Type de formation "
                          type="text"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          name="date_deb"
                          formControlName="date_deb"
                          autocomplete="off"
                          placeholder="date debut de formation"
                          type="date"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          name="date_fin"
                          formControlName="date_fin"
                          autocomplete="off"
                          placeholder="date fin de formation"
                          type="date"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        name="email"
                        formControlName="email"
                        autocomplete="off"
                        placeholder="email de l'enseignant"
                        type="email"
                        [value]="userEmail"
                        readonly="readonly"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input
                        matInput
                        type="text"
                        name="name_en"
                        formControlName="name_en"
                        autocomplete="off"
                        placeholder="Nom de l'enseignant"
                        [value]="userName"
                        readonly="readonly"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          type="text"
                          name="id_en"
                          formControlName="id_en"
                          autocomplete="off"
                          placeholder="identifiant de l'enseignant"
                          [value]="userId"
                          readonly="readonly"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        
                        <input
                          matInput
                          type="file"
                          name="file"
                          formControlName="file"
                          autocomplete="off"
                          (change)="onFileChange($event)"
                          
                        />
                        
                      </mat-form-field>
                    </div>
                  </div>
                  
                    
                  
  
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-danger pull-right"
                  [disabled]="!angForm.valid"
                >
                  Ajouter enseignant
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  