<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Liste formation</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <!-- <th>ID</th> -->
                    <th>Titre formation</th>
                    <th>Formateur</th>
                    <th>Email formateur</th>
                    <th>Date debut</th>
                    <th>Date fin</th>
                    <th>Type</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let formation of dataSourceformation?.data | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
                      <!-- <td>{{ formation.id }}</td> -->
                      <td>{{ formation.title }}</td>
                      <td>{{ formation.name_en }}</td>
                      <td>{{ formation.email }}</td>
                      <td>{{ formation.date_deb }}</td>
                      <td>{{ formation.date_fin }}</td>
                      <td>{{ formation.type }}</td>
                      <td>
                        <div
                          class="btn-group"
                          role="group"
                          aria-label="Basic example"
                        >
                          <!-- <button type="button" class="btn btn-primary" (click)="openDialog(formation.id)">
                            Consulter
                          </button> -->
                          
  
                          <button type="button" (click)="deleteRecord(formation.id)" class="btn btn-danger">
                            Supprimer
                          </button>
                        </div>
                      </td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  